:root {
    --primary-color: #364958;
    --secondary-color: #3b6064;
    --tertiary-color: #55828b;
    --fourthary-color: #87bba2;
    --fifthary-color: #c9e4ca;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-color: #f9f9f9;
}